/**
!/.gitignore
!/LICENSE
!/README
!/doc/mesh_bsd_logo.png

##
# MeshBSD
#
!/MeshBSD/cfg/tl-wr1043ndv2
!/MeshBSD/lib/cfg.sh

!/MeshBSD/root/*

!/MeshBSD/programs/Makefile

!/MeshBSD/programs/mktplinkfw/Makefile
!/MeshBSD/programs/mktplinkfw/mktplinkfw.c

!/MeshBSD/programs/mktplinkfw2/Makefile
!/MeshBSD/programs/mktplinkfw2/mktplinkfw2.c

!/MeshBSD/programs/ubnt-mkfwimage/Makefile
!/MeshBSD/programs/ubnt-mkfwimage/fw.h
!/MeshBSD/programs/ubnt-mkfwimage/mkfwimage.c

!/releases/MeshBSD.tl-wr1043ndv2.*.factory.bin
!/releases/MeshBSD.tl-wr1043ndv2.*.factory.bin.rmd160
!/releases/MeshBSD.tl-wr1043ndv2.*.factory.bin.sha256

!/src/COPYRIGHT

##
# Etc.
#
!/src/etc/dhcpd.conf

##
# Shared data.
#
!/src/share/man/man4/Makefile
!/src/share/man/man4/vether.4

!/src/share/man/man5/Makefile
!/src/share/man/man5/myname.5

##
# Targets
#
!/src/targets/pseudo/userland/Makefile.depend
!/src/targets/pseudo/userland/lib/Makefile.depend

##
# Sys 
#

#
# Configuration
#
!/src/sys/conf/files
!/src/sys/conf/NOTES
!/src/sys/conf/options

#
# Modifications targeting mx25l based flash/spi.
#
!/src/sys/dev/flash/mx25l.c

#
# MIPS platform specific.
#
!/src/sys/mips/conf/AR933X_BASE
!/src/sys/mips/conf/AR933X_BASE.hints

!/src/sys/mips/conf/TL-WR740Nv4
!/src/sys/mips/conf/TL-WR740Nv4.hints

#
# Standalone kernel modules.
#
!/src/sys/modules/Makefile
!/src/sys/modules/if_bridge/Makefile
!/src/sys/modules/if_vether/Makefile

#
# Generic components
#
!/src/sys/net/if.h
!/src/sys/net/if_bridge.c
!/src/sys/net/if_bridgevar.h
!/src/sys/net/if_vether.c

#
# Netgraph domain
#
!/src/sys/netgraph/ng_ether.c

#
# SYS_getdtablecount
#
!/src/sys/kern/init_sysent.c
!/src/sys/kern/kern_descrip.c
!/src/sys/kern/syscalls.c
!/src/sys/kern/syscalls.master
!/src/sys/kern/systrace_args.c

!/src/sys/sys/syscall.h
!/src/sys/sys/syscall.mk
!/src/sys/sys/sysproto.h

##
# Bsdbox. 
#
!/src/tools/bsdbox/Makefile
!/src/tools/bsdbox/Makefile.base
!/src/tools/bsdbox/Makefile.net
!/src/tools/bsdbox/Makefile.login
!/src/tools/bsdbox/Makefile.kld
!/src/tools/bsdbox/Makefile.fs

##
# Userspace
#

#
# OpenSSL.
#
!/src/crypto/openssl/*

#
# Inclusdes.
#
!/src/include/Makefile
!/src/include/event.h
!/src/include/unistd.h
!/src/include/tls.h

!/src/lib/Makefile

!src/lib/libc/sys/Makefile.inc
!src/lib/libc/sys/getdtablecount.2
!src/lib/libc/sys/Symbol.map

!/src/lib/libevent/Makefile
!/src/lib/libevent/Makefile.depend
!/src/lib/libevent/buffer.c
!/src/lib/libevent/evbuffer.c
!/src/lib/libevent/event-internal.h
!/src/lib/libevent/event.c
!/src/lib/libevent/event.h
!/src/lib/libevent/evsignal.h
!/src/lib/libevent/kqueue.c
!/src/lib/libevent/log.c
!/src/lib/libevent/log.h
!/src/lib/libevent/poll.c
!/src/lib/libevent/select.c
!/src/lib/libevent/signal.c

!/src/lib/libtls/Makefile
!/src/lib/libtls/tls.c
!/src/lib/libtls/tls.h
!/src/lib/libtls/tls_client.c
!/src/lib/libtls/tls_config.c
!/src/lib/libtls/tls_init.3
!/src/lib/libtls/tls_internal.h
!/src/lib/libtls/tls_server.c
!/src/lib/libtls/tls_util.c
!/src/lib/libtls/tls_verify.c

!/src/lib/libutil/Makefile
!/src/lib/libutil/imsg.c
!/src/lib/libutil/imsg.h
!/src/lib/libutil/imsg-buffer.c
!/src/lib/libutil/imsg_init.3

!/src/share/mk/bsd.libnames.mk
!/src/share/mk/src.libnames.mk

!/src/usr.sbin/Makefile

!/src/usr.sbin/dhcpd/Makefile
!/src/usr.sbin/dhcpd/alloc.c
!/src/usr.sbin/dhcpd/bootp.c
!/src/usr.sbin/dhcpd/bpf.c
!/src/usr.sbin/dhcpd/conflex.c
!/src/usr.sbin/dhcpd/confpars.c
!/src/usr.sbin/dhcpd/convert.c
!/src/usr.sbin/dhcpd/db.c
!/src/usr.sbin/dhcpd/dhcp-options.5
!/src/usr.sbin/dhcpd/dhcp.c
!/src/usr.sbin/dhcpd/dhcp.h
!/src/usr.sbin/dhcpd/dhcpd.8
!/src/usr.sbin/dhcpd/dhcpd.c
!/src/usr.sbin/dhcpd/dhcpd.conf.5
!/src/usr.sbin/dhcpd/dhcpd.h
!/src/usr.sbin/dhcpd/dhcpd.leases.5
!/src/usr.sbin/dhcpd/dhctoken.h
!/src/usr.sbin/dhcpd/dispatch.c
!/src/usr.sbin/dhcpd/errwarn.c
!/src/usr.sbin/dhcpd/hash.c
!/src/usr.sbin/dhcpd/icmp.c
!/src/usr.sbin/dhcpd/inet.c
!/src/usr.sbin/dhcpd/memory.c
!/src/usr.sbin/dhcpd/options.c
!/src/usr.sbin/dhcpd/packet.c
!/src/usr.sbin/dhcpd/parse.c
!/src/usr.sbin/dhcpd/pfutils.c
!/src/usr.sbin/dhcpd/print.c
!/src/usr.sbin/dhcpd/sync.c
!/src/usr.sbin/dhcpd/sync.h
!/src/usr.sbin/dhcpd/tables.c
!/src/usr.sbin/dhcpd/tree.c
!/src/usr.sbin/dhcpd/tree.h
!/src/usr.sbin/dhcpd/udpsock.c

!src/usr.sbin/httpd/Makefile
!src/usr.sbin/httpd/config.c
!src/usr.sbin/httpd/control.c
!src/usr.sbin/httpd/http.h
!src/usr.sbin/httpd/httpd.8
!src/usr.sbin/httpd/httpd.c
!src/usr.sbin/httpd/httpd.conf.5
!src/usr.sbin/httpd/httpd.h
!src/usr.sbin/httpd/log.c
!src/usr.sbin/httpd/logger.c
!src/usr.sbin/httpd/parse.y
!src/usr.sbin/httpd/proc.c
!src/usr.sbin/httpd/server.c
!src/usr.sbin/httpd/server_fcgi.c
!src/usr.sbin/httpd/server_file.c
!src/usr.sbin/httpd/server_http.c

!/src/usr.sbin/racoon/*




