/**
!/.gitignore
!/LICENSE
!/README
!/doc/mesh_bsd_logo.png

##
# MeshBSD
#
!/MeshBSD/cfg/tl-wr1043ndv2
!/MeshBSD/lib/cfg.sh

!/MeshBSD/root/*

!/MeshBSD/programs/Makefile

!/MeshBSD/programs/mktplinkfw/Makefile
!/MeshBSD/programs/mktplinkfw/mktplinkfw.c

!/MeshBSD/programs/mktplinkfw2/Makefile
!/MeshBSD/programs/mktplinkfw2/mktplinkfw2.c

!/MeshBSD/programs/ubnt-mkfwimage/Makefile
!/MeshBSD/programs/ubnt-mkfwimage/fw.h
!/MeshBSD/programs/ubnt-mkfwimage/mkfwimage.c

!/releases/MeshBSD.tl-wr1043ndv2.*.factory.bin
!/releases/MeshBSD.tl-wr1043ndv2.*.factory.bin.rmd160
!/releases/MeshBSD.tl-wr1043ndv2.*.factory.bin.sha256

###
## Sources.
#
!/src/COPYRIGHT

##
# Etc.
#
!/src/etc/dhcpd.conf

##
# Shared data.
#
!/src/share/man/man4/Makefile
!/src/share/man/man4/vether.4

!/src/share/man/man5/Makefile
!/src/share/man/man5/myname.5

!/src/contrib/*

##
# Targets
#
!/src/targets/pseudo/userland/Makefile.depend
!/src/targets/pseudo/userland/lib/Makefile.depend

##
## Kernel
##

#
# Configuration
#
!/src/sys/conf/files
!/src/sys/conf/NOTES
!/src/sys/conf/options

#
# Modifications targeting mx25l based flash/spi.
#
!/src/sys/dev/flash/mx25l.c

##
# MIPS platform specific.
#
!/src/sys/mips/conf/MESH_BSD_ATH 

#
# SoC
#
!/src/sys/mips/conf/AR933X_BASE
!/src/sys/mips/conf/AR933X_BASE.hints

!/src/sys/mips/conf/QCA953X_BASE
!/src/sys/mips/conf/QCA953X_BASE.hints

!/src/sys/mips/conf/QCA955X_BASE
!/src/sys/mips/conf/QCA955X_BASE.hints

!/src/sys/mips/conf/MESH_BSD_ATH_GENERIC 

#
# Router.
#
!/src/sys/mips/conf/TL-WR740Nv4
!/src/sys/mips/conf/TL-WR740Nv4.hints

!/src/sys/mips/conf/TL-WR1043NDv2
!/src/sys/mips/conf/TL-WR1043NDv2.hints

!/src/sys/mips/conf/TL-ARCHERC7V2
!/src/sys/mips/conf/TL-ARCHERC7V2.hints

#
# Standalone kernel modules.
#
!/src/sys/modules/Makefile
!/src/sys/modules/if_bridge/Makefile
!/src/sys/modules/if_vether/Makefile

#
# Generic components
#
!/src/sys/net/if.h
!/src/sys/net/if_bridge.c
!/src/sys/net/if_bridgevar.h
!/src/sys/net/if_vether.c

#
# Netgraph domain
#
!/src/sys/netgraph/ng_ether.c

## 
# Sys
#
!/src/sys/sys/cdefs.h
!/src/sys/sys/time.h

#
# SYS_getdtablecount
#
!/src/sys/kern/init_sysent.c
!/src/sys/kern/kern_descrip.c
!/src/sys/kern/syscalls.c
!/src/sys/kern/syscalls.master
!/src/sys/kern/systrace_args.c

!/src/sys/sys/syscall.h
!/src/sys/sys/syscall.mk
!/src/sys/sys/sysproto.h

##
## Misc
##
!/src/gnu/*

##
## Library set
##
!/src/share/mk/bsd.libnames.mk
!/src/share/mk/src.libnames.mk

!/src/lib/Makefile

#
## libarchive(3)
#
!/src/lib/libarchive/Makefile
!/src/lib/libarchive/config_freebsd.h
!/src/lib/libarchive/tests/Makefile
!/src/lib/libarchive/tests/functional_test.sh

#
## libc(3)
#
!/src/include/Makefile
!/src/include/stdlib.h
!/src/include/unistd.h

#
# getdtablecount(2)
#
!/src/lib/libc/sys/Makefile.inc
!/src/lib/libc/sys/getdtablecount.2
!/src/lib/libc/sys/Symbol.map

#
## libmagic(3)
#
!/src/lib/libmagic/Makefile
!/src/lib/libmagic/config.h

#
## libnetbsd(3)
#
!/src/lib/libnetbsd/Makefile
!/src/lib/libnetbsd/README
!/src/lib/libnetbsd/netinet/in.h
!/src/lib/libnetbsd/rmd160.h
!/src/lib/libnetbsd/sha1.h
!/src/lib/libnetbsd/sha2.h
!/src/lib/libnetbsd/sys/cdefs.h
!/src/lib/libnetbsd/sys/time.h

#
## stdlib(3)
#

#
# strsuftoll(3), NetBSD 6.1-RELEASE
#
!/src/lib/libc/stdlib/Makefile.inc
!/src/lib/libc/stdlib/strsuftoll.c
!/src/lib/libc/stdlib/strsuftoll.3
!/src/lib/libc/stdlib/Symbol.map

#
## libdwarf(3)
#
!/src/lib/libdwarf/Makefile

#
## libelf(3)
#
!/src/lib/libelf/Makefile

#
## libelftc(3)
#
!/src/lib/libelftc/Makefile
!/src/lib/libelftc/elftc_version.c

#
## libevent(3)
#
!/src/lib/libevent/Makefile
!/src/lib/libevent/buffer.c
!/src/lib/libevent/evbuffer.c
!/src/lib/libevent/event-internal.h
!/src/lib/libevent/event.c
!/src/lib/libevent/event.h
!/src/lib/libevent/evsignal.h
!/src/lib/libevent/kqueue.c
!/src/lib/libevent/log.c
!/src/lib/libevent/log.h
!/src/lib/libevent/poll.c
!/src/lib/libevent/select.c
!/src/lib/libevent/signal.c

#
## libssl(3), OpenSSL 1.0.2f
#
!/src/crypto/openssl/*

!/src/secure/lib/libcrypto/Makefile
!/src/secure/lib/libcrypto/Makefile.inc

#
## libtls(3), OpenBSD 5.8-RELEASE
#
!/src/lib/libtls/Makefile
!/src/lib/libtls/tls.c
!/src/lib/libtls/tls.h
!/src/lib/libtls/tls_client.c
!/src/lib/libtls/tls_config.c
!/src/lib/libtls/tls_init.3
!/src/lib/libtls/tls_internal.h
!/src/lib/libtls/tls_server.c
!/src/lib/libtls/tls_util.c
!/src/lib/libtls/tls_verify.c

#
## libtelnet(3)
#
!/src/lib/libtelnet/Makefile
!/src/lib/libtelnet/auth-proto.h
!/src/lib/libtelnet/auth.c
!/src/lib/libtelnet/auth.h
!/src/lib/libtelnet/enc-proto.h
!/src/lib/libtelnet/enc_des.c
!/src/lib/libtelnet/encrypt.c
!/src/lib/libtelnet/encrypt.h
!/src/lib/libtelnet/genget.c
!/src/lib/libtelnet/getent.c
!/src/lib/libtelnet/kerberos.c
!/src/lib/libtelnet/kerberos5.c
!/src/lib/libtelnet/key-proto.h
!/src/lib/libtelnet/krb4encpwd.c
!/src/lib/libtelnet/misc-proto.h
!/src/lib/libtelnet/misc.c
!/src/lib/libtelnet/misc.h
!/src/lib/libtelnet/pk.c
!/src/lib/libtelnet/pk.h
!/src/lib/libtelnet/read_password.c
!/src/lib/libtelnet/rsaencpwd.c
!/src/lib/libtelnet/sra.c

#
## libutil(3).
#
!/src/lib/libutil/Makefile

#
# imesg_init(3), OpenBSD 5.8-RELEASE
#
!/src/lib/libutil/imsg.c
!/src/lib/libutil/imsg.h
!/src/lib/libutil/imsg-buffer.c
!/src/lib/libutil/imsg_init.3

#
# ohash_init(3), OpenBSD 5.8-RELEASE
#
!/src/lib/libutil/ohash.c
!/src/lib/libutil/ohash.h
!/src/lib/libutil/ohash_init.3
!/src/lib/libutil/ohash_interval.3

#
# stat_flags(3), NetBSD 6.1-RELEASE
#
!/src/lib/libutil/stat_flags.c
!/src/lib/libutil/stat_flags.3
!/src/lib/libutil/util.h


##
## Daemons and (subset of) Unix Toolbox.
##

#
## libexec
#
# atf(8)
# atrun(8)
# casper(8)
# dma(8)
# ftpd(8)
# getty(8)
# pppoed(8)
# rtld-aout(8)
# rtld-elf(8)
# telnetd(8)
# tftpd(8)
# tftp-proxy(8)
# ulog-helper(8)
#
!/src/libexec/*

#
## bin
#
# cat(1)
# chflags(!)
# chmod(1)
# cp(1)
# date(1)
# dd(1)
# df(1)
# echo(1)
# ed(1)
# expr(1)
# getfacl(1)
# hostname(1)
# kenv(1)
# kill(1)
# ln(1)
# ls(1)
# mkdir(1)
# mv(1)
# pax(1)
# pgrep(1)
# pkill(1) 
# ps(1)
# pwait(1)
# pwd(1)
# realpath(1)
# rm(1)
# rmdir(1)
# setfacl(1)
# sh(1)
# sleep(1)
# stty(1)
# sync(1)
# test(1)
# uuidgen(1)
#
!/src/bin/*

#
## sbin
#
# adjkerntz(8)
# bsdlbel(8)
# camcontrol(8)
# comcontrol(8)
# conscontrol(8)
# casperd(8)
# devd(8)
# devfs(8) 
# dhclient(8)
# dmesg(8)
# dump(8)
# etherswitchcfg(8)
# fdisk(8)
# fsck_ffs(8)
# fsck_msdosfs(8)
# gbde(8)
# geom(8)
# ggate(8)
# ifconfig(8)
# init(8)
# ipfw(8)
# iscontrol(8)
# kldconfig(8)
# kldload(8)
# kldstat(8)
# kldunload(8)
# ldcondig(8)
# md5(8)
# mdconfig(8)
# mdmfs(8)
# mknod(8)
# mksnap_ffs(8)
# mount(8)
# mount_msdosfs(8)
# mount_nfs(8)
# mount_nullfs(8)
# natd(8)
# nandfs(8)
# newsfs(8)
# newsfs_nandfs(8)
# nvmecontrol(8)
# pfctl(8)
# pflogd(8)
# ping(8)
# ping6(8)
# quotacheck(8)
# reboot(8)
# restore(8)
# route(8)
# routed(8)
# rtsol(8)
# sconfig(8)
# setkey(8)
# shutdown(8)
# swapon(8)
# swapoff(8)
# sysctl(8)
# umount(8)
#
!/src/sbin/*

#
## usr.bin
#
# addr2line(1)
# alias(1)
# ar(1)
# at(1)
# awk(1)
# basename(1)
# bluetooth(1)
# bzip2(1)
# cap_mkdb(1)
# chat(1)
# cksum(1)
# cmp(1)
# comm(1)
# compile_et(1)
# compress(1)
# cpio(1)
# cut(1)
# dc(1)
# dirname(1)
# du(1)
# ee(1)
# elfcopy(1)
# env(1)
# expand(1)
# false(1)
# fetch(1)
# find(1)
# fold(1)
# fsync(1)
# ftp(1)
# getopt(1)
# grep(1)
# gzip(1)
# head(1)
# hexdump(1)
# host(1)
# id(1)
# ipcrm(1)
# ipcs(1)
# killall(1)
# last(1)
# less(1)
# lex(1)
# localedef(1)
# logger(1)
# login(1)
# logname(1)
# lorder(1)
# m4(1)
# man(1)
# mail(1)
# mesg(1)
# mkcsmapper(1)
# mkcsmapper_static(1)
# mkesdb(1)
# mkesdb_static(1)
# mkfifo(1)
# mktemp(1)
# mt(1)
# nc(1)
# ncal(1)
# netstat(1)
# nice(1)
# nm(1)
# nohub(1)
# passwd(1)
# patch(1)
# printenv(1)
# printf(1)
# renice(1)
# rpcgen(1)
# script(1)
# sed(1)
# seq(1)
# size(1)
# sockstat(1)
# split(1)
# sort(1)
# stat(1)
# strings(1)
# su(1)
# systat(1)
# tail(1)
# tar(1)
# tee(1)
# telnet(1)
# tftp(1)
# time(1)
# top(1)
# touch(1)
# tput(1)
# tr(1)
# true(1)
# tset(1)
# tty(1)
# uname(1)
# unexpand(1)
# uniq(1)
# unzip(1)
# uudecode(1)
# uuencode(1)
# vi(1)
# vmstat(1)
# vtfontcvt(1)
# w(1)
# wall(1)
# wc(1)
# which(1)
# who(1)
# whois(1)
# xargs(1)
# xinstall(1)
# xz(1)
# xzdec(1)
# yacc(1)
# yes(1)
#
!/src/usr.bin/*

#
## usr.sbin
#
# adduser(8)
# arp(8)
# authpf(8)
# bsnmpd(8)
# chown(8)
# chroot(8)
# dhcpd(8)
# ftp-proxy(8)
# httpd(8)
# inetd(8)
# lpr(8)
# mtree(8)
# sendmail(8)
# services_mkdb(8)
# setfib(1)
# syslogd(8)
# traceroute(8)
# traceroute6(8)
# rtadvctl(8)
# rtadvd(8)
# watch(8)
# watschdogd(8)
# wlandebug(8)
# wpa(8)
# utx(8)
#
!/src/usr.sbin/*

